@media only screen and (min-width: 769px) {
    .navbar-mobile {
        display: none;
    }       
}


@media only screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
}


@media only screen and (max-width: 1200px) {

    
/*------ HOMEPAGE ------*/

    
    .home-header {
        height: auto;
        flex-direction: column;
    }
    
    .header-left {
        width: 100%;
        height: auto;
        padding-left: 0px;
        text-align: center;
    }
    
    .header-left img {
        width: 100vw;
        height: auto;
    }
    
    .header-right {
        width: 100%;
        display: block;
    }
    
    .header-right-text {
        margin: 80px 80px 80px 80px;
    }
    
    .home-about {
        flex-direction: column;
        height: auto;
        min-height: 0;
    }
    
    .about-left,
    .about-right {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    
    .about-right img {
        width: 100%;  
        padding-top: 50px;
    }
    
    .home-video p {
        width: 100%;
    }
    
    .video-image {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .video-image-box {
        min-width: 280px;
    }
}

@media only screen and (max-width: 500px) {
    .navbar-mobile {
        padding: 20px; 
    }

    
    .header-right-text {
        margin: 40px;
    }
    
    .home-about,
    .home-brands,
    .home-testimonial,
    .home-video {
        padding: 40px;
    }
    
    .brand-logo img {
        max-height: 40px;
    }
    
    
    

}